#container {
    position: relative;
    margin: 0 auto;
    text-align: center;
    top: 120px;
}

svg {
    width: 400px;
    height: 400px;
}

circle {
    fill: none;
    stroke: black;
    stroke-width: 2px;
}

#hour {
    stroke: black;
    stroke-width: 4px;
}

#minute {
    stroke: black;
    stroke-width: 2px;
    
}

#second {
    stroke: black;
    stroke-width: .5px;
    
}
