#container {
    position: relative;
    margin: 0 auto;
    text-align: center;
    top: 120px;
}

svg {
    width: 400px;
    height: 400px;
}

circle {
    fill: none;
    stroke: black;
    stroke-width: 10px;
}

#pin {
    stroke-width: 10px;
}

#hour {
    stroke: black;
    stroke-width: 4px;
    transform-origin: 50% 50%;
    
}

#minute {
    stroke: black;
    stroke-width: 2px;
    transform-origin: 50% 50%;
    
}

#second {
    stroke:red;
    stroke-width: 1px;
    transform: rotate(180deg);
    transform-origin: 50% 50%;
}

.faceNum {
    font-size: 26px;
}
